html {
  height: 100%;
}
body {
  height: 100%;
}
body {
  margin: 0;
  padding: 70px 0 0 0;
  -webkit-touch-callout: none;
  -webkit-text-size-adjust: none;
  -webkit-user-select: none;
  -webkit-highlight: none;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
.commands li {
  margin: 20px 0;
  padding: 0;
}
h1 {
  background: #34495e;
  color: #fff;
  margin: 0 0 30px;
  padding: 10px 0;
  text-align: center;
  z-index: 5;
  left: 0;
  position: fixed;
  top: 0;
  width: 100%;
}
h1.is-remote {
  background: #3498db;
}
.command {
  margin: 20px 0;
}
.command:nth-child(even) .btn-primary {
  background: #16a085;
}
.no-touch .command-link:hover {
  background: #2fe2bf;
}
.no-touch .command-link:active {
  background: #16a085;
}
.command-link.active {
  background: #2fe2bf !important;
}
.remote-link.active {
  background: #5dade2 !important;
}
.btn-wide {
  padding-left: 0;
  padding-right: 0;
  width: 100%;
}
.remote {
  margin: 0;
  padding: 0;
  position: relative;
}
.remotes-nav li,
.macros-nav li {
  margin: 20px 0;
}
.back {
  position: absolute;
  top: 7px;
  left: 8px;
  cursor: pointer;
}
a,
a:hover,
a:active,
.btn,
.btn:hover,
.btn:active {
  -webkit-transition: 0s !important;
  -moz-transition: 0s !important;
  -o-transition: 0s !important;
  transition: 0s !important;
  -webkit-backface-visibility: hidden !important;
}
#container {
  margin: 0 40px;
}
.remote {
  display: none;
}
.remote.active {
  display: block;
}
.actvity {
  display: none;
}
.actvity.active {
  display: block;
}

.hidden {
  display: none !important;
}
